body{
    background-color: lightblue;
    text-align: center;
    padding: 2em;
}
#button{
    background-color: lightseagreen;
    padding: 12px 16px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 25px;
}
#button a{
    text-decoration: none;
    color: black;
}